
<div>
    <div class="row">
        <div class="col-3">
            <img src="https://pbs.twimg.com/profile_images/1277820069871927301/tpJXsC3j_400x400.jpg" height="85"
                width="85">
            
            <div>
                <i class="fa fa-mobile fa-2x ml-3" style="color: #009ce9;" aria-hidden="true"></i>
            </div>
            <div>
                <i class="fa fa-calendar fa-2x  ml-3 mt-4" style="color: #009ce9;" aria-hidden="true"></i>
            </div>
           
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col-10">
                    <h6>ECE- 1st Year</h6>
                    <h6 class="text-secondary">Basic Electronics</h6>
                </div>
                <div class="col-2">
                    <div><i class="fa fa-angle-up text-secondary" aria-hidden="true"></i></div>
                    <div><i class="fa fa-angle-down text-secondary" aria-hidden="true"></i></div>
                </div>
            </div>
            <hr>
            <div class="row">
                <!-- <div class="col"> -->
                <div class="col-2">
                    <i class="fa fa-arrow-circle-left fa-lg" aria-hidden="true"></i>
                </div>
                <div class="col-10">
                    Back to course
                </div>
                <!-- </div> -->
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    Messages
                </div>
            </div>
            <ul class="nav-item">
                <li class="text-primary mt-3">
                    All messages
                </li>
                <li class="text-secondary mt-3">
                    Groups
                </li>
                <li class="text-secondary mt-3">
                    Unread
                </li>
                <li class="text-secondary mt-3">
                    Draft
                </li>
                <li class="text-secondary mt-3">
                    Sent
                </li>
                <li class="text-secondary mt-3">
                    Draft
                </li>
            </ul>
            <div class="row">
                <div class="col text-secondary">
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                        More
                </div>
                    <!-- <div class="col-11">
                    </div> -->
            </div>
        </div>
    </div>
</div>